insmod part_gpt
insmod part_msdos
insmod fat
insmod efi_gop
insmod efi_uga
insmod video_bochs
insmod video_cirrus
insmod font

if loadfont "${prefix}/fonts/unicode.pf2" ; then
  insmod gfxterm
  set gfxmode="1024x768x32;auto"
  terminal_input console
  terminal_output gfxterm
fi

menuentry "Arch Linux install medium (x86_64, UEFI)" {
  set gfxpayload=keep
  search --no-floppy --set=root --label <FS-LABEL>
  linux /arch/boot/x86_64/vmlinuz-linux archisobasedir=arch archisolabel=<FS-LABEL>
  initrd /arch/boot/intel-ucode.img
  initrd /arch/boot/amd-ucode.img
  initrd /arch/boot/x86_64/initramfs-linux.img
}

menuentry "Arch Linux install medium (x86_64, UEFI) with speech" {
  set gfxpayload=keep
  search --no-floppy --set=root --label <FS-LABEL>
  linux /arch/boot/x86_64/vmlinuz-linux archisobasedir=arch archisolabel=<FS-LABEL> accessibility=on
  initrd /arch/boot/intel-ucode.img
  initrd /arch/boot/amd-ucode.img
  initrd /arch/boot/x86_64/initramfs-linux.img
}

menuentry "Arch Linux install medium (x86_64, UEFI, Copy to RAM)" {
  set gfxpayload=keep
  search --no-floppy --set=root --label <FS-LABEL>
  linux /arch/boot/x86_64/vmlinuz-linux archisobasedir=arch archisolabel=<FS-LABEL> copytoram
  initrd /arch/boot/intel-ucode.img
  initrd /arch/boot/amd-ucode.img
  initrd /arch/boot/x86_64/initramfs-linux.img
}
